In [24]:

import pandas as pd
import numpy as np

# New Section

In [25]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [26]:
import pandas as pd

heart_db = pd.read_csv('/content/drive/MyDrive//heart.csv')

preview a few rows.

In [27]:
# Inspect Data Types
print(heart_db.dtypes)

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

All data are in order.

In [28]:
# there is no missing value found
heart_db.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

# Their is no null value within my database

Their is no duplicate value found.

â€¢Briefly explain in markdown which cleaning steps you took and why.

# Loading the Data
   Loaded the dataset using (pd.read_csv('heart.csv')
   Why? To convert the CSV file into a Pandas Data Frame for further processing.

# Handling Missing Values
There is no value missing from my data
   Why? Missing data can lead to inaccurate analysis.

# Removing Duplicates
No duplicate value. Why? Duplicate entries can skew the analysis by over-representing certain data points.

# Data Type Conversion
   Why? Ensuring that each column has the correct data type is crucial for accurate computations and analyses.

In [29]:
# Question (1) What is the average age of the patients in the dataset?

Age_mean = heart_db['Age'].mean().round(2),
Age_median = heart_db['Age'].median(),
Age_mode = heart_db['Age'].mode().round(2)

print(f'the overall heart mean is {Age_mean}')

print(f'the overall heart median is {Age_median}')
print(f'the overall heart mode is {Age_mode}')

the overall heart mean is (np.float64(53.51),)
the overall heart median is (54.0,)
the overall heart mode is 0    54
Name: Age, dtype: int64

In [30]:
#Question (2) What is the most common cholesterol level among the patients?

Cholesterol_mean = heart_db['Cholesterol'].mean().round(2),
Cholesterol_median = heart_db['Cholesterol'].median(),
Cholesterol_mode = heart_db['Cholesterol'].mode().round(2)

print(f'the overall heart mean is {Cholesterol_mean}')

print(f'the overall heart median is {Cholesterol_median}')
print(f'the overall heart mode is {Cholesterol_mode}')

the overall heart mean is (np.float64(198.8),)
the overall heart median is (223.0,)
the overall heart mode is 0    0
Name: Cholesterol, dtype: int64

In [31]:
#Question (3) What is the average resting blood pressure (RestingBP) of the patient?

RestingBP_mean = heart_db['RestingBP'].mean().round(2),
RestingBP_median = heart_db['RestingBP'].median(),
RestingBP_mode = heart_db['RestingBP'].mode().round(2)

print(f'the overall heart mean is {RestingBP_mean}')

print(f'the overall heart median is {RestingBP_median}')
print(f'the overall heart mode is {RestingBP_mode}')

the overall heart mean is (np.float64(132.4),)
the overall heart median is (130.0,)
the overall heart mode is 0    120
Name: RestingBP, dtype: int64

In [32]:
# 1. How much do patient ages vary in the dataset?

std_sample = heart_db['Age'].std(),  # sample std dev (ddof=1)

variance_sample = heart_db['Age'].var(), # sample variance

Age_range = heart_db['Age'].max() - heart_db['Age'].min(), # range

Q1 = heart_db['Age'].quantile(0.25)
Q3 = heart_db['Age'].quantile(0.75)
IQR = Q3 - Q1

print("Sample Standard Deviation (ddof=1):", std_sample)

print("Sample Variance (ddof=1):", variance_sample)

print(f"Range of 'Age' column: {Age_range}"),

print(f"Q1 (25th percentile): {Q1}")
print(f"Q3 (75th percentile): {Q3}")
print(f"Interquartile Range (IQR): {IQR}")

Sample Standard Deviation (ddof=1): (9.432616506732007,)
Sample Variance (ddof=1): (88.97425416307314,)
Range of 'Age' column: (49,)
Q1 (25th percentile): 47.0
Q3 (75th percentile): 60.0
Interquartile Range (IQR): 13.0

In [33]:
#2. How much variation is observed in cholesterol levels?

std_sample = heart_db['Cholesterol'].std(),  # sample std dev (ddof=1)

variance_sample = heart_db['Cholesterol'].var(), # sample variance

Cholesterol_range = heart_db['Cholesterol'].max() - heart_db['Cholesterol'].min(), # range

Q1 = heart_db['Cholesterol'].quantile(0.25)
Q3 = heart_db['Cholesterol'].quantile(0.75)
IQR = Q3 - Q1

print("Sample Standard Deviation (ddof=1):", std_sample)

print("Sample Variance (ddof=1):", variance_sample)

print(f"Range of 'Cholesterol' column: {Cholesterol_range}"),

print(f"Q1 (25th percentile): {Q1}")
print(f"Q3 (75th percentile): {Q3}")
print(f"Interquartile Range (IQR): {IQR}")

Sample Standard Deviation (ddof=1): (109.38414455220337,)
Sample Variance (ddof=1): (11964.891079417323,)
Range of 'Cholesterol' column: (603,)
Q1 (25th percentile): 173.25
Q3 (75th percentile): 267.0
Interquartile Range (IQR): 93.75